<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav position="start">
    EJERCICIOS
    <hr>
    <ul>
      <li><a routerLink='' (click)="sidenav.close()">Inicio</a></li>
      <li><a routerLink='one' (click)="sidenav.close()">Ver componente One</a></li>
      <li><a routerLink='two' (click)="sidenav.close()">Ver componente Two</a></li>
      <li><a routerLink='if' (click)="sidenav.close()">Directiva If</a></li>
      <li><a routerLink='for' (click)="sidenav.close()">Directiva for</a></li>
      <li><a routerLink='switch' (click)="sidenav.close()">Directiva switch</a></li>
      <li><a routerLink='model' (click)="sidenav.close()">Directiva model</a></li>
      <li><a routerLink='padre' (click)="sidenav.close()">Padre</a></li>
      <li><a routerLink='hijo' (click)="sidenav.close()">Hijo</a></li>
      <li><a routerLink='padre2' (click)="sidenav.close()">Padre2</a></li>
      <li><a routerLink='hijo2' (click)="sidenav.close()">Hijo2</a></li>
      <li><a routerLink='pipes' (click)="sidenav.close()">Pipes</a></li>
      <li><a routerLink='observer' (click)="sidenav.close()">Observer</a></li>
      <li><a routerLink='observer2' (click)="sidenav.close()">Observer2</a></li>
      <li><a routerLink='observer3' (click)="sidenav.close()">Observer3</a></li>
    </ul>
    <hr>
    API CLOUD
    <hr>
    <ul>
      <li><a routerLink='posts' (click)="sidenav.close()">Posts</a></li>
      <li><a routerLink='comments' (click)="sidenav.close()">Comentarios</a></li>
    </ul>
    API ZEND
    <hr>
    <ul>
      <li>Usuarios</li>
      <ul>
        <li><a routerLink='gestionar-usuario'>Gestión usuarios</a></li>
        <li><a routerLink='usuario-dos'>Usuarios dos</a></li>
      </ul>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Curso multiplataforma
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
