<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav position="start">
    MENÚ
    <hr>
    <ul>
      <li><a routerLink=''>Inicio</a></li>
      <li><a routerLink='one'>Ver componenete One</a></li>
      <li><a routerLink='two'>Ver componenete Two</a></li>
      <li><a routerLink='if'>Directiva If</a></li>
      <li><a routerLink='for'>Directiva for</a></li>
      <li><a routerLink='switch'>Directiva switch</a></li>
      <li><a routerLink='model'>Directiva model</a></li>
      <li><a routerLink='padre'>Padre</a></li>
      <li><a routerLink='hijo'>Hijo</a></li>
      <li><a routerLink='observer'>Observer</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Curso multiplataforma
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
